.bgImg{
    background-image: url(../../../../asset/doodles\ mixed\ round.svg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 55% 70%;
    /* width: 50%; */
    /* background-attachment: scroll; */
}